@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
/*--- INICIO RESET ---*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    position: relative;
    padding-bottom: 15em;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
/*--- FIN RESET ---*/

/*--- INCIO HEADER ---*/
header{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    background-color: #161a1d;
    width: 100%;
}
header h1{
    width: 20%;
    text-align: center;
}
header h1 a{
    color: white;
    text-decoration: none;
    transition: 1s;
    font-size: 45px;
}
header h1 a:hover{
    color: #cdb4db;
}
header nav{
    width: 60%;
}
header nav .container-fluid{
    width: 100%;
}
header nav div .navbar-nav{
    width: 100%;
    padding: 20px;
}
header nav div ul .nav-item{
    width: 100%;
}
/*BARRA NAVEGACION*/
.navbar-light .navbar-nav .nav-link {
    color: #dee2e6;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #cdb4db;
}
/*BARRA NAVEGACION*/
/*--- FIN HEADER ---*/

/*--- INICIO MAIN ---*/
.bienvenidosCarrusel{
    margin-right: 60px;
    margin-left: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}

/*--- PRODUCTOS DESTACADOS---*/
.productos{
    padding-bottom: 10px;
}
.productos h2{
    text-align: center;
    padding: 10px;
    color: white;
    font-style: italic;
}
.productos .contenedor-productos-destacados{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}
.productos .contenedor-productos-destacados .items-productos-destacados{
    box-shadow: 0px 5px 5px 5px rgba(255,200,221,0.75);
-webkit-box-shadow: 0px 5px 5px 5px rgba(255,200,221,0.75);
-moz-box-shadow: 0px 5px 5px 5px rgba(255,200,221,0.75);
border: solid 2px white;
    padding-bottom: 20px;
}
.productos .contenedor-productos-destacados .items-productos-destacados img{
    width: 380px;
    height: 400px;
}
.productos .contenedor-productos-destacados .items-productos-destacados h3{
    padding-top: 10px;
}
.productos .contenedor-productos-destacados .items-productos-destacados button{
    border: solid 2px white;
    border-radius: 30px;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}
.productos .contenedor-productos-destacados .items-productos-destacados button:hover{
    background-color: #cdb4db;
}
/*--- ACCESORIOS DESTACADOS ---*/
.accesorios{
    padding-bottom: 10px;
}
.accesorios h2{
    text-align: center;
    padding: 10px;
    color: white;
    font-style: italic;
}
.accesorios .contenedor-accesorios-destacados{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}
.accesorios .contenedor-accesorios-destacados .items-accesorios-destacados{
    box-shadow: 0px 5px 5px 5px rgba(255,200,221,0.75);
-webkit-box-shadow: 0px 5px 5px 5px rgba(255,200,221,0.75);
-moz-box-shadow: 0px 5px 5px 5px rgba(255,200,221,0.75);
    border: solid 2px white;
    padding-bottom: 20px;
}
.accesorios .contenedor-accesorios-destacados .items-accesorios-destacados img{
    width: 380px;
    height: 400px;
}
.accesorios .contenedor-accesorios-destacados .items-accesorios-destacados h3{
    padding-top: 10px;
}
.accesorios .contenedor-accesorios-destacados .items-accesorios-destacados button{
    border: solid 2px white;
    border-radius: 30px;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}
.accesorios .contenedor-accesorios-destacados .items-accesorios-destacados button:hover{
    background-color: #cdb4db;
}

/*--- INICIO PRODUCTOS PRINCIPALES ---*/
.productos-principales{
    padding-top: 40px;
}
.productos-principales h2{
    text-align: center;
    padding: 10px;
    color: white;
    font-style: italic;
}
.productos-principales .contenedor-productos-principales{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}
.productos-principales .contenedor-productos-principales .items-productos-principales{
    box-shadow: 0px 5px 5px 5px rgba(255,255,255,0.75);
-webkit-box-shadow: 0px 5px 5px 5px rgba(255,255,255,0.75);
-moz-box-shadow: 0px 5px 5px 5px rgba(255,255,255,0.75);
    margin-bottom: 60px;
}
.productos-principales .contenedor-productos-principales .items-productos-principales img{
    width: 380px;
    height: 400px;
}
.productos-principales .contenedor-productos-principales .items-productos-principales h3{
    padding-top: 10px;
}
.productos-principales .contenedor-productos-principales .items-productos-principales button{
    border: solid 2px white;
    border-radius: 30px;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 23px;
}
.productos-principales .contenedor-productos-principales .items-productos-principales button:hover{
    background-color: #cdb4db;
}
/*--- FIN PRODUCTOS PRINCIPALES ---*/

/*--- INICIO ACCESORIOS PRINCIPALES ---*/
.accesorios-principales{
    padding-top: 40px;
}
.accesorios-principales h2{
    text-align: center;
    padding: 10px;
    color: white;
    font-style: italic;
}
.accesorios-principales .contenedor-accesorios-principales{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}
.accesorios-principales .contenedor-accesorios-principales .items-accesorios-principales{
    box-shadow: 0px 5px 5px 5px rgba(255,255,255,0.75);
-webkit-box-shadow: 0px 5px 5px 5px rgba(255,255,255,0.75);
-moz-box-shadow: 0px 5px 5px 5px rgba(255,255,255,0.75);
    margin-bottom: 60px;
}
.accesorios-principales .contenedor-accesorios-principales .items-accesorios-principales img{
    width: 380px;
    height: 400px;
}
.accesorios-principales .contenedor-accesorios-principales .items-accesorios-principales h3{
    padding-top: 10px;
}
.accesorios-principales .contenedor-accesorios-principales .items-accesorios-principales button{
    border: solid 2px white;
    border-radius: 30px;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 23px;
}
.accesorios-principales .contenedor-accesorios-principales .items-accesorios-principales button:hover{
    background-color: #cdb4db;
}
/*--- FIN ACCESORIOS PRINCIPALES ---*/

/*--- INICIO MAIN DEVOLUCIONES ---*/
.contenedor-devoluciones{
    padding-top: 40px
}
.contenedor-devoluciones .titulo-devoluciones{
    color: white;
    padding: 10px;
    text-align: center;
}
.contenedor-devoluciones .items-devoluciones{
    padding: 200px;
    display: flex;
    justify-content: center;
}
.contenedor-devoluciones .items-devoluciones ul{
    border: solid 2px white;
    padding: 20px;
    margin: 20px;
    list-style: none;
    box-shadow: 0px 0px 20px 11px rgba(205,180,219,1);
-webkit-box-shadow: 0px 0px 20px 11px rgba(205,180,219,1);
-moz-box-shadow: 0px 0px 20px 11px rgba(205,180,219,1);
}
.contenedor-devoluciones .items-devoluciones ul li{
    padding: 5px;
    color: white;
    list-style: circle;
    margin-left: 10px;
}
/*--- FIN MAIN DEVOLUCIONES ---*/

/*--- INICIO MAIN CONTACTO ---*/
.grid-container{
    display: grid;
    grid-template-rows: 60em;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}
.grid-container .grid-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.grid-container .grid-items .formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.grid-container .grid-items .formulario label{
    margin: 10px;
    font-size: 20px;
}
.grid-container .grid-items .formulario input{
    margin: 10px;
}
.grid-container .grid-items .genero{
    text-align: start;
    width: 40%;
    font-size: 20px;
    margin-left: 20px;
    text-decoration:underline;
}
.grid-container .grid-items .textarea{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-container .grid-items .textarea .submit-reset{
    width: 80%;
    display: flex;
    justify-content:end;
    flex-direction: row-reverse;
    padding: 5px;
}
.grid-container .grid-items .textarea .submit-reset input{
    margin: 5px;
    padding: 5px;
}
/*--- FIN MAIN CONTACTO ---*/
/*--- FIN MAIN ---*/

/*--- INICIO FOOTER ---*/
footer{
    background-color: #161a1d;
    padding: 0.1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 60px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.footer-contenedor ul{
    list-style: none;
}
.footer-contenedor ul li{
    padding:  3px;
}
.footer-contenedor ul li a{
    text-decoration: none;
    color: white;
}
.footer-contenedor div a{
    color: white;
}
.footer-contenedor div a svg{
    margin: 5px;
    width: 30px;
    height: 30px;
}
footer p{
    text-align: center;
    color: white;
}
/*--- FIN FOOTER ---*/

/*--- INICIO MEDIA QUERIES ---*/
@media screen and (max-width:990px){
    header h1{
        margin-left: 30px;
    }
    main .productos .contenedor-productos-destacados .items-productos-destacados{
        margin-top: 20px;
        margin-bottom: 60px;
    }
    main .accesorios .contenedor-accesorios-destacados .items-accesorios-destacados{
        margin-top: 20px;
        margin-bottom: 60px;
    }
    main .contenedor-devoluciones .items-devoluciones{
        padding: 60px;
    }
    main .grid-container{
        grid-template-rows: 1000px 400px;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
    main .grid-container .grid-items .genero {
        margin-left: 80px;
    }
}

@media screen and (max-width:495px){
    body{
        padding-bottom: 40px;
    }
    header{
        display: flex;
        justify-content: start;
    }
    header h1{
        width: 50%;
        text-align: start;
    }
    header h1 a{
        font-size: 20px;
    }
    header nav{
        width: 50%;
    }
    main .productos h2{
        font-size: 15px;
    }
    main .productos .contenedor-productos-destacados .items-productos-destacados h3{
        font-size: 15px;
    }
    main .productos .contenedor-productos-destacados .items-productos-destacados p{
        font-size: 12px;
    }
    main .productos .contenedor-productos-destacados .items-productos-destacados button {
        font-size: 12px;
    }
    main .productos .contenedor-productos-destacados .items-productos-destacados img {
        width: 250px;
        height: 250px;
    }
    main .accesorios h2{
        font-size: 15px;
    }
    main .accesorios .contenedor-accesorios-destacados .items-accesorios-destacados h3{
        font-size: 15px;
    }
    main .accesorios .contenedor-accesorios-destacados .items-accesorios-destacados p{
        font-size: 12px;
    }
    main .accesorios .contenedor-accesorios-destacados .items-accesorios-destacados button{
        font-size: 12px;
    }
    main .accesorios .contenedor-accesorios-destacados .items-accesorios-destacados img {
        width: 250px;
        height: 250px;
    }
    main .productos-principales h2 {
        font-size: 15px;
    }
    main .productos-principales .contenedor-productos-principales .items-productos-principales h3{
        font-size: 15px;
    }
    main .productos-principales .contenedor-productos-principales .items-productos-principales p{
        font-size: 12px;
    }
    main .productos-principales .contenedor-productos-principales .items-productos-principales button{
        font-size: 12px;
    }
    main .productos-principales .contenedor-productos-principales .items-productos-principales img{
        width: 250px;
        height: 250px;
    }
    main .accesorios-principales h2{
        font-size: 15px;
    }
    main .accesorios-principales .contenedor-accesorios-principales .items-accesorios-principales h3{
        font-size: 15px;
    }
    main .accesorios-principales .contenedor-accesorios-principales .items-accesorios-principales p{
        font-size: 12px;
    }
    main .accesorios-principales .contenedor-accesorios-principales .items-accesorios-principales button{
        font-size: 12px;
    }
    main .accesorios-principales .contenedor-accesorios-principales .items-accesorios-principales img{
        width: 250px;
        height: 250px;
    }
    main .contenedor-devoluciones .items-devoluciones ul li {
        padding: 15px;
    }
    main .grid-container {
        grid-template-rows: 685px;
    }
    main .grid-container .grid-items {
        font-size: 20px;
    }
    main .grid-container .grid-items .formulario label {
        margin: 0;
        font-size: 15px;
    }
    main .grid-container .grid-items .formulario input{
        font-size: 10px;
    }
    main .grid-container .grid-items .genero {
        font-size: 12px;
    }
    main .grid-container .grid-items .genero-opciones{
        font-size: 12px;
    }
    main .grid-container .grid-items .genero-opciones input{
        margin: 10px;
    }
    main .grid-container .grid-items .textarea {
        font-size: small;
    }
    main .grid-container .grid-items .mapa{
        display: none;
    }
    footer .footer-contenedor {
        padding-top: 5px; 
        padding-bottom: 0;
    }
    footer .footer-contenedor ul {
        display: none;
    }
    footer .footer-contenedor div{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5px;
    }
} 
/*--- FIN MEDIA QUERIES ---*/

