header{
    background-color: $color-secundario;
    width: 100%;
    .navbar{
        width: 100%;
        .container-fluid{
            width: 100%;
            h1{
                padding: 15px;
                a{
                    color: white;
                    text-decoration: none;
                    margin: 45px;
                }
            }
            .collapse{
                .navbar-nav{
                    width: 90%;
                    margin: auto;
                    text-align: end;
                    .nav-item{
                        width: 100%;
                        .nav-link{
                            color: $color-quinto;
                            &:hover{
                                color: $color-cuarto;
                            }
                        }
                    }
                }
            }
        }
    }
}