header{
    @include flex(flex, space-between, center);
    background-color: $color-secundario;
    width: 100%;
    h1{
        width: 20%;
        text-align: center;
        a{
            color: $color-terciario;
            text-decoration: none;
            transition: 1s;
            font-size: nth($font-size, 5);
            &:hover{
                color: $color-cuarto;
            }
        }
    }
    .navbar{
        width: 60%;
        .container-fluid{
            width: 100%;
            .collapse{
                .navbar-nav{
                    width: 100%;
                    padding: 20px;
                    .nav-item{
                        width: 100%;
                        .nav-link{
                            color: $color-quinto;
                            &:hover{
                                color: $color-cuarto;
                            }
                        }
                    }
                }
            }
        }
    }
}